@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-thinitalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-light.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-lightitalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-medium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-mediumitalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-regularitalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-bolditalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "CeraPro";
  src: url("./assets/fonts/cerapro-blackitalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "CeraPro", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

.main {
  animation: fadeInLoad 5s forwards;
}

.nav {
  display: flex;
  animation: fadeInLoad 5s forwards;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0.5% 5%;
}

.nav-company {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.nav-company img {
  cursor: pointer;
}

.nav-logo__img {
  width: 50px;
}

.nav-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}

#site-search {
  width: 25px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nav-main-menu {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.nav-main-menu p:hover {
  font-weight: 800;
  cursor: pointer;
}
.nav-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.nav-user img {
  width: 25px;
  cursor: pointer;
}

.footer {
  background-color: #e3e3e3;
  width: 100%;
  padding: 1% 5%;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5%;
  color: #363636;
}

.footer-list {
  list-style: none;
}

.footer-item > a {
  color: #505050;
  font-size: 1rem;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  gap: 3%;
  color: #505050;
}

.footer-bottom-list {
  display: flex;
  flex-direction: row;
  gap: 18px;
  list-style: none;
}

.footer-bottom-list__item > a {
  text-decoration: none;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.app-store {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.hidden {
  display: none;
}

.openAnimation {
  animation: revealSearch 3s forwards;
}

.closeAnimation {
  animation: closeSearch 3s forwards;
}

.slideshow-container {
  padding: 0.5% 5%;
  background-color: #f9f9f9;
}

.slide {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-top: 3%;
}

.slideshow-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 3%;
  animation: fadeInSlideShowLeft 3s forwards;
}

progress {
  animation: fadeInSlideShowLeft 3s forwards;
  margin-left: 1%;
  /* width: clamp(95px, 5vw, 150px); */
  width: calc(90px + 2.5vw);
  /* accent-color: #ffcc00 !important; */
  accent-color: #d6d6d6 !important;
}

.slideshow-controls button {
  border: none;
  background-color: transparent;
  padding: 0 1%;
  cursor: pointer;
  font-size: 2rem;
}

.control-img {
  width: 22px;
}

.slash {
  margin: 0 0.5%;
}

.control-img__right:hover {
  animation: hoverConfirmRight 1s infinite alternate;
}

.control-img__left:hover {
  animation: hoverConfirmLeft 1s infinite alternate;
}

progress {
  appearance: none;
  height: 4px;
}

/* Track background */
progress::-webkit-progress-bar {
  background-color: #d3d3d3;
  border-radius: 5px;
}

/* Progress fill (Chrome/Safari) */
progress::-webkit-progress-value {
  background-color: #52502f;
  border-radius: 5px;
}

/* Progress fill (Firefox) */
progress::-moz-progress-bar {
  background-color: #d3d3d3;
  border-radius: 5px;
}
.slide-info-container {
  flex-basis: 60%;
  animation: fadeInSlideShowLeft 3s forwards;
}

.slide-image-container {
  animation: fadeInSlideShowRight 3s forwards;
}

.slide-image {
  width: 90%;
  border-radius: 3em;
}

.slide-title {
  color: rgb(53, 53, 53);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.2;
}

.slide-description {
  font-size: 1.2rem;
  font-weight: 400;
  color: #545454;
  margin-top: 4%;
}

.slide-button {
  margin-top: 2%;
  background-color: #ffcc00;
  color: #333333;
  font-size: 1.05rem;
  border-radius: 5px;
  padding: 20px 25px;
  cursor: pointer;
  border-width: 0;
  margin-top: 5%;
  font-weight: 700;
}

/*MENU SECTION*/

@keyframes revealSearch {
  0% {
    width: 0px;
    opacity: 0;
  }
  25% {
    width: 0px;
    opacity: 0.3;
  }

  75% {
    width: 300px;
    opacity: 1;
  }

  100% {
    width: 300px;
    opacity: 1;
  }
}

@keyframes closeSearch {
  0% {
    width: 300px;
    opacity: 1;
  }
  25% {
    width: 300px;
    opacity: 1;
  }

  75% {
    width: 0px;
    opacity: 0.3;
  }

  100% {
    width: 0px;
    opacity: 0;
  }
}

@keyframes fadeInLoad {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    height: 0px;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    height: 69px;
  }
}

@keyframes fadeInSlideShowLeft {
  0% {
    opacity: 0;
    transform: translateX(-120%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideShowRight {
  0% {
    opacity: 0;
    transform: translateX(120%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.close-left {
  animation: fadeOutSlideShowLeft 3s forwards;
}

.close-right {
  animation: fadeOutSlideShowRight 3s forwards;
}

@keyframes fadeOutSlideShowLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-120%);
  }
}

@keyframes fadeOutSlideShowRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(120%);
  }
}

@keyframes hoverConfirmRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(15px);
  }
}

@keyframes hoverConfirmLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-15px);
  }
}
